.App {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(26, 90, 187);
  color: white;
  text-align: center;
  height: 100px;
  font-weight: bold;
}
